PORT=6000
APP_ENV=production
CLIENT_URL=
CORS_ORIGIN=*

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=project_name_hub_database
DB_USERNAME=nestjs_starter_db
DB_PASSWORD=123456
DATABASE_URL=postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME

JWT_SECRET=
JWT_EXPIRES_IN=3600

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
